In [1]:
import pandas as pd

In [2]:
# show all columns
pd.set_option('display.max_columns', None)

In [1]:
import pandas as pd
from pathlib import Path

raw_root = Path("data/raw")  # adjust
for b in ["bank_s","bank_m","bank_l"]:
    acc = pd.read_csv(raw_root/b/"accounts.csv")
    sar = pd.read_csv(raw_root/b/"sar_accounts.csv")
    sar_yes = sar[sar["IS_SAR"]=="YES"]["ACCOUNT_ID"].nunique()
    print(b, "accounts=", acc["acct_id"].nunique(), "sar_yes=", sar_yes, "rate=", sar_yes/acc["acct_id"].nunique())

bank_s accounts= 7782 sar_yes= 627 rate= 0.08057054741711642
bank_m accounts= 38911 sar_yes= 2175 rate= 0.05589679011076559
bank_l accounts= 77823 sar_yes= 4676 rate= 0.06008506482659368

In [3]:
df = pd.read_parquet("data/processed/bank_s/processed.parquet")

In [4]:
df.head()

,acct_id,initial_deposit,state,is_sar,out_cnt,out_sum,out_nuniq_bene,in_cnt,in_sum,in_nuniq_orig,net_flow,out_max_daily_cnt,out_max_daily_sum,in_max_daily_cnt,in_max_daily_sum
0,0,56220.300781,VT,False,102.0,58537.898438,102.0,378.0,1.986182e+05,38.0,1.400803e+05,1.0,990.979980,3.0,2154.179932
1,1,78695.429688,RI,True,116.0,61026.808594,116.0,1432.0,7.871361e+05,223.0,7.261092e+05,2.0,1307.640015,7.0,4747.640137
2,2,57445.218750,OH,False,103.0,55423.511719,103.0,1522.0,8.321994e+05,215.0,7.767759e+05,1.0,996.010010,8.0,4572.080078
3,3,58614.308594,MP,False,103.0,55821.980469,103.0,4168.0,2.303012e+06,598.0,2.247190e+06,1.0,995.460022,14.0,8606.870117
4,4,76311.062500,NM,False,103.0,56202.750000,103.0,3703.0,2.027494e+06,587.0,1.971292e+06,1.0,994.580017,14.0,8006.270020

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7782 entries, 0 to 7781
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   acct_id            7782 non-null   Int32
 1   initial_deposit    7782 non-null   float32
 2   state              7782 non-null   category
 3   is_sar             7782 non-null   boolean
 4   out_cnt            7782 non-null   float64
 5   out_sum            7782 non-null   float32
 6   out_nuniq_bene     7782 non-null   float64
 7   in_cnt             7782 non-null   float64
 8   in_sum             7782 non-null   float32
 9   in_nuniq_orig      7782 non-null   float64
 10  net_flow           7782 non-null   float32
 11  out_max_daily_cnt  7782 non-null   float64
 12  out_max_daily_sum  7782 non-null   float32
 13  in_max_daily_cnt   7782 non-null   float64
 14  in_max_daily_sum   7782 non-null   float32
dtypes: Int32(1), boolean(1), category(1), float32(6), float64(6)
memory usage: 610.6 KB

In [11]:
df.columns

Index(['acct_id', 'initial_deposit', 'state', 'is_sar', 'out_cnt', 'out_sum',
       'out_nuniq_bene', 'in_cnt', 'in_sum', 'in_nuniq_orig', 'net_flow',
       'out_max_daily_cnt', 'out_max_daily_sum', 'in_max_daily_cnt',
       'in_max_daily_sum'],
      dtype='object')

In [6]:
df.describe()

,acct_id,initial_deposit,out_cnt,out_sum,out_nuniq_bene,in_cnt,in_sum,in_nuniq_orig,net_flow,out_max_daily_cnt,out_max_daily_sum,in_max_daily_cnt,in_max_daily_sum
count,7782.0,7782.000000,7782.000000,7782.000000,7782.000000,7782.000000,7.782000e+03,7782.000000,7.782000e+03,7782.000000,7782.000000,7782.000000,7782.000000
mean,3890.5,75301.304688,61.638268,33652.507812,19.562195,125.949370,6.876663e+04,19.643279,3.511412e+04,0.726548,628.931274,1.338473,939.149841
std,2246.61423,14401.700195,59.429022,32372.017578,30.571280,867.554588,4.737412e+05,122.430783,4.715050e+05,0.562516,493.613525,2.567091,1533.353149
min,0.0,50009.878906,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,-9.987955e+04,0.000000,0.000000,0.000000,0.000000
25%,1945.25,62949.234375,0.000000,0.000000,0.000000,1.000000,3.335700e+02,1.000000,-5.176468e+04,0.000000,0.000000,1.000000,309.252502
50%,3890.5,75336.140625,102.000000,53152.208984,5.000000,4.000000,1.964515e+03,2.000000,0.000000e+00,1.000000,979.899994,1.000000,861.434998
75%,5835.75,87779.503906,103.000000,57796.318359,24.000000,18.000000,1.013883e+04,5.000000,9.286075e+02,1.000000,995.510010,1.000000,986.587524
max,7781.0,99998.531250,219.000000,119821.070312,117.000000,16260.000000,8.869015e+06,1954.000000,8.817711e+06,4.000000,2989.600098,45.000000,23997.669922

## Transactions

In [ ]:
df_transactions = pd.read_csv('data/raw/bank_s/transactions.csv')

In [ ]:
df_transactions.info()

In [ ]:
df_transactions['tran_timestamp'] = pd.to_datetime(df_transactions['tran_timestamp'])

In [ ]:
df_transactions.info()

## Accounts

In [ ]:
df_accs = pd.read_csv('data/raw/bank_s/accounts.csv')
df_accs.info()

In [ ]:
df_accs['open_dt'].unique()

In [ ]:
df_accs['close_dt'].unique()

In [ ]:
for col in df_accs.columns:
    # nunique values
    print(f"{col}: {df_accs[col].nunique()} unique values")

In [ ]:
df_accs.columns.tolist()

In [ ]:

df_trans = pd.read_csv(f'data/raw/bank_a/transactions.csv')
df_accs = pd.read_csv(f'data/raw/bank_a/accounts.csv')

df_alerts = pd.read_csv(f'data/raw/bank_a/alert_transactions.csv')
df = df_trans.copy()
df['tran_timestamp'] = pd.to_datetime(df['tran_timestamp'], utc=True, errors='coerce')

df['y'] = df['tran_id'].isin(df_alerts['tran_id']).astype('int8')

# select only relevant columns
keep_cols = [
    'acct_id',
    'initial_deposit',
    'state',
    ]
df_accs = df_accs[keep_cols].copy()

df_org = df_accs.rename(columns={c: f"orig_{c}" for c in keep_cols})
df_bene = df_accs.rename(columns={c: f"bene_{c}" for c in keep_cols})

df = df.merge(df_org, how='left', left_on='orig_acct', right_on='orig_acct_id')
df = df.merge(df_bene, how='left', left_on='bene_acct', right_on='bene_acct_id')

df = df.drop(columns=['is_sar', 'alert_id'], errors='ignore')
df = df.drop(columns=['orig_acct_id', 'bene_acct_id'], errors='ignore')
df = df.drop(columns=['tx_type'], errors='ignore')
df = df.sort_values(by='tran_timestamp').reset_index(drop=True)

In [ ]:
df.head()

In [ ]:
df['tran_timestamp'].min(), df['tran_timestamp'].max()

In [ ]:
tmp = df.copy()
tmp["month"] = tmp["tran_timestamp"].dt.to_period("M")
print(tmp.groupby("month")["y"].sum())

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

df = df[df['tran_timestamp'] <= pd.Timestamp("2018-01-01", tz="UTC")].reset_index(drop=True)

df = df.drop(columns=['orig_acct', 'bene_acct'], errors='ignore')

trainval_test_cutoff = pd.Timestamp("2017-11-01", tz="UTC")
train_val_cutoff = pd.Timestamp("2017-09-01", tz="UTC")

test_mask = df['tran_timestamp'] >= trainval_test_cutoff
val_mask = (df['tran_timestamp'] >= train_val_cutoff) & (df['tran_timestamp'] < trainval_test_cutoff)
train_mask = df['tran_timestamp'] < train_val_cutoff

df_test = df[test_mask].reset_index(drop=True)
df_val = df[val_mask].reset_index(drop=True)
df_train = df[train_mask].reset_index(drop=True)


cat_cols = ["orig_state", "bene_state"]
num_cols = ["base_amt", "orig_initial_deposit", "bene_initial_deposit"]

numeric_pipe = Pipeline([
    ("scaler", StandardScaler()),
    
])

categorical_pipe = Pipeline([
    ("onehot", OneHotEncoder(handle_unknown="ignore")),
])

preprocess = ColumnTransformer(
    transformers=[
        ("num", numeric_pipe, num_cols),
        ("cat", categorical_pipe, cat_cols),
    ],
    remainder="drop",
)


X_train = df_train[num_cols + cat_cols]
y_train = df_train['y']

X_val = df_val[num_cols + cat_cols]
y_val = df_val['y']

X_test = df_test[num_cols + cat_cols]
y_test = df_test['y']

In [ ]:
df_train.tail()

In [ ]:
df_val.tail()

In [ ]:
y_val.shape

In [ ]:
y_val.sum()

In [ ]:
y_val.mean()

In [ ]:
y_test.mean()

In [ ]:

X_train_processed = preprocess.fit_transform(X_train)
X_val_processed = preprocess.transform(X_val)